td {
   border-style: solid;
}

#yellow {
   background-color: yellow;
}

#pink {
   background-color: pink;
}

#orange {
   background-color: orange;
}

#lightblue {
   background-color: lightblue;
}

#green {
   background-color: greenyellow;
}

#purple {
   background-color: purple;
}

#red {
   background-color: red;
}

#brown {
   background-color: brown;
}

#lightcoral {
   background-color: lightcoral;
}

#darkblue {
   background-color: darkblue;
}

#babypink {
   background-color: lightpink;
}

#darkgreen {
   background-color: darkgreen;
}

#silver {
   background-color: silver;
}

#yellowgreen {
   background-color: yellowgreen;
}

#deepskyblue {
   background-color: deepskyblue;
}

#antiquewhite {
   background-color: antiquewhite;
}

#offwhite {
   background-color: blanchedalmond;
}

#aquamarine {
   background-color: aquamarine;
}